.transaction_history {
  margin-left: auto;
  margin-right: auto;

  margin-top: 50px;

  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  text-align: center;
}

th {
  color: white;
  background: cadetblue;
  padding: 10px 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: darkgray;
}

td {
  background: #d8e6f3;
  color: rgb(63, 49, 49);
}

td:first-child {
  color: rgb(63, 49, 49);
  padding: 10px 20px;
}
